.module.MMM-MTATrainTimes {
    width: 140%;
    transform: translateX(-40%);
    text-align: left;
}

.train-logo {
    width: 1.5em;
    height: auto;
    vertical-align: middle;
}

.station-arrival {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 25px;
}

.station {
    text-align: left;
}

.arrival-time {
    text-align: right;
}