.module.MMM-MTAArrivalTimes {
    width: 120%;
    transform: translateX(-20%);
    text-align: left;
}

.train-logo {
    width: 1.5em;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.station-arrival {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.station {
    text-align: left;
    font-size: 16px;
}

.arrival-time {
    text-align: right;
}